.hero_image img {
  width: 100%;
  border-radius: 5px;
}

.hero h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 45.4px;
  text-transform: capitalize;
  text-align: center;
  color: #c4c4c4;
  margin-bottom: 1rem;
}

.hero p {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1rem;
  color: #646464;
  margin-bottom: 1.5rem;
  text-align: center;
}
.hero_button {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-radius: 87px;
  padding: 1rem 2rem;
  color: #ffffff;
  background: #fc3867;
  border: 1px solid #fc3867;
}
.hero {
  padding: 2rem 1rem;
  background-color: #040f28;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
}
.hero_image {
  order: 1;
}

.hero_text {
  order: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* styling hero section using media queries */
@media screen and (min-width: 1024px) {
  .hero_image {
    order: 2;
  }

  .hero_text {
    order: 1;
    justify-content: flex-start;
    align-items: baseline;
  }

  .hero h1 {
    font-size: 3.5rem;
    line-height: 74.4px;
    margin-bottom: 1.25rem;
    text-align: left;
  }

  .hero p {
    line-height: 2rem;
    margin-bottom: 2.5rem;
    text-align: left;
  }

  .hero {
    flex-direction: row;
    gap: 8rem;
    padding: 3.75rem 8.75rem 0;
  }
}

.statistis h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 100%;
  letter-spacing: -0.5%;
  text-align: center;
  color: #070707;
}

.statistis h4 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 100%;
  letter-spacing: -0.5%;
  text-align: center;
  color: #070707;
}
.statistis p {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: -0.5%;
  margin-bottom: 10px;
}
.statistis {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.feedback,
.project {
  border-bottom: 1px solid #d8d8d8;
}

/* styling the experience section for desktop */
@media screen and (min-width: 1024px) {
  .statistis h1 {
    font-size: 4rem;
  }

  .statistis h4 {
    font-size: 1.125rem;
  }

  .statistis {
    flex-direction: row;
    justify-content: center;
    padding: 3.265rem 16.813rem;
    text-align: left;
  }

  .feedback,
  .project {
    border-bottom: none;
    padding: 0px 4.375rem;
    border-right: 2px solid #d8d8d8;
  }

  .years {
    margin-left: 1.25rem;
  }
}

/* styling the service section for mobile */
.services {
  background-color: #040f28;
  padding: 3rem;
}
.services .best {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
}

.benefit h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.5px;

  text-transform: capitalize;
  color: #ffffff;
}

.benefit p {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 100%;
  color: #ffffff;
}

.cards img {
  border: 2px solid #ffffff;
  margin: 10px 0;
}

.cards h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: capitalize;
  color: #ffffff;
}

.cards p {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 120%;
  color: #ffffff;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  gap: 2rem;
}

.design {
  border-bottom: 1px solid #ffffff;
  padding: 10px 0;
  border-top: 0.5px solid #ffffff;
}

/* Styling the services section for desktop */
@media screen and (min-width: 1024px) {
  .benefit h1 {
    line-height: 3.75rem;
    font-size: 2.5rem;
  }

  .services {
    padding: 6.875rem 8.75rem 0;
  }

  .benefit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
  }

  .design {
    border-bottom: none;
    padding: 0.625rem 0;
    border-top: none;
  }

  .cards {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 3.5rem 0;
  }

  .design,
  .quality,
  .shipping {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    gap: 1rem;
  }

  .cards img {
    margin: 0;
    border: none;
  }
  .cards h1 {
    margin-bottom: 5px;
  }

  .quality,
  .design {
    border-right: 2px solid #ffffff;
    padding: 0 0.75rem;
  }
}

/* styling for offers we have for you section for mobile design */
.offers_for_you {
  background-color: #040f28;
}

.provide h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 1.5rem;
  line-height: 100%;
  color: #ffffff;
  text-align: center;
  margin-bottom: 0.625rem;
}

.provide p {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 100%;
  color: #ffffff;
  text-align: center;
}

.descriptive_cards {
  margin-top: 1.125rem;
  padding: 1rem;
}

.descriptive_cards img {
  border-radius: 50%;
  background-color: #fc3867;
  border: 2px solid #fc3867;
}

.descriptive_cards h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 100%;
  color: #000000;
  text-align: center;
  margin: 0.625rem 0;
}

.descriptive_cards p {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 160%;
  color: #272727;
}
.description_card {
  background-color: #ffffff;
  margin: 1.5rem 0.625rem;
  border-radius: 1.25rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* styling for offers for you section for desktop */
@media screen and (min-width: 1024px) {
  .offers_for_you {
    padding: 6.875rem 8.75rem 0;
  }

  .provide h1 {
    font-size: 2.25rem;
    margin-bottom: 1.25rem;
  }

  .provide p {
    font-size: 1.5rem;
  }

  .provide {
    text-align: center;
  }
  .descriptive_cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
  }

  .description_card h1 {
    text-align: left;
  }

  .description_card {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    gap: 1.5rem;
  }
}

/* styling for creative_works section  for mobile */
.creative_text h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 100%;
  color: #ffffff;
  text-align: center;
  margin-bottom: 0.625rem;
}

.creative_works {
  padding: 1.25rem 1rem;
  background-color: #040f28;
}

.creative_text p {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-align: center;
  color: #999999;
}

.creative_images img {
  width: 100%;
  height: 21.875rem;
  border-radius: 1rem;
}

.creative_images {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

/* styling for creative_works section  for desktop */
@media screen and (min-width: 1024px) {
  .creative_works {
    padding: 6.875rem 8.75rem 0;
  }

  .creative_text h1 {
    font-size: 2.5rem;
    margin-bottom: 1.125rem;
  }

  .creative_text p {
    margin-bottom: 3.5rem;
    text-align: center;
  }

  .creative_text {
    padding: 0 18.35rem;
  }

  .creative_images img {
    height: 320px;
  }

  .creative_images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
}

/* styling for the prices section for mobile */
.prices {
  background-color: #040f28;
  padding: 1.25rem 1rem;
}

.pricing h4 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 100%;
  color: #ffffff;
  margin-bottom: 0.625rem;
}

.pricing h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 1.875rem;
  text-align: center;
  color: #ffffff;
  margin-bottom: 1.25rem;
}

.pricing {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .prices {
    padding: 0 14.375rem;
  }

  .pricing h1 {
    font-size: 2.5rem;
    line-height: 3.125rem;
    margin-bottom: 4.438rem;
  }

  .pricing h4 {
    margin-bottom: 1rem;
  }
}

.price_cards h4 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 100%;
  color: #000000;
}

.priceCards h2 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 3rem;
  line-height: 100%;
  color: #000000;
}

.priceCards span {
  font-weight: 400;
  font-size: 0.625rem;
}

.priceCards li {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 100%;
  display: flex;
  text-align: left;
  justify-content: flex-start;
  gap: 10px;
}

.basic,
.premium,
.super {
  background-color: #ffffff;
  text-align: left;
  border-radius: 1rem;
  padding: 30px 20px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.625rem;
  padding: 0.625rem 0;
  white-space: nowrap;
}

.price_cards {
  display: flex;
  align-items: center;
  justify-content: center;
}
.priceCards ul {
  display: flex;
  align-items: left;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem 1rem;
}

.priceCards ul li {
  margin: 0.625rem;
  text-align: left;
  font-size: 1rem;
}

.priceCards button {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.875rem;
  padding: 0.625rem 2rem;
  border-radius: 3.125rem;
  border: 1.2px solid #272727;
}

.premium ul li::before,
.super ul li::before {
  content: url(/images/Vector\ 1.png);
  background-color: #272727;
  color: #ffffff;
  border-radius: 50%;
}

.premiumBtn button {
  background-color: #fc3867;
  color: #ffffff;
}

@media screen and (min-width: 1024px) {
  .priceCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 40px;
  }

  .priceCards span {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 1rem;
  }

  .basic,
  .premium,
  .super {
    width: 17.5rem;
    padding: 1rem 2rem;
  }

  .price1 {
    text-align: left;
    margin-left: -100px;
  }
}

/* styling the subcribe section for mobile */
.subscribe {
  padding: 1.25rem 1rem;
  text-align: center;
  background-color: #ffffff;
}

.subscribe p {
  font-family: "Cerebri Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 100%;
  color: #c4c4c4;
  margin-bottom: 0.625rem;
}

.subscribe h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 0.625rem;
}

.subscribe button {
  font-family: "DM Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 180%;
  color: #ffffff;
  padding: 1rem 2rem;
  background-color: #fc3867;
  border-radius: 5.438rem;
}

/* styling the subcribe section for desktop */
@media screen and (min-width: 1024px) {
  .subscribe {
    margin-top: 10.625rem;
    line-height: 4rem;
    padding: 2.5rem 18.5rem;
  }

  .subscribe h1 {
    font-size: 2.5rem;
    margin-top: 0.75rem;
  }

  .subscribe button {
    margin-top: 1.688rem;
  }
}

.footer {
  padding: 1.25rem 1rem;
}

.cartix h1 {
  font-family: "Cerebri Sans", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 100%;
  color: #ffffff;
  margin-bottom: 0.625rem;
}

.cartix p {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #ffffff;
  margin-bottom: 0.625rem;
}

/* .cartix {
  padding: 0.625rem 1rem;
} */

.footer h2 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 100%;
  color: #ffffff;
  margin-bottom: 0.625rem;
}

.footer li {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 100%;
  color: #c4c4c4;
  white-space: nowrap;
  margin-bottom: 1.625rem;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.75rem;
}

.Copyright {
  font-family: "Ubuntu",sans-serif;
font-weight: 400;
font-size: 0.875rem;
line-height: 100%;
color: #C4C4C480;
text-align: center;
border-top: 1px solid #C4C4C480;
padding: 1.25rem 0;

}

/* styling footer section for desktop */
@media screen and (min-width: 1024px) {
  .footer {
    padding: 2.5rem 7.5rem;
    flex-direction: row;
gap: 8.625rem; 
 }
 .design{
  display: flex;
  flex-direction: column;
}
 .design h2 {
  margin-bottom: 0px;
 }
 .footer .design {
 border-right: none;
 }

}

