@media(min-width:700px) {
    body {
        margin-left: 141px;
        margin-top: 150px;
        margin-left: 0;
        margin-right: 0;

    }

    .logo p {
        width: 124px;
        height: 28px;
        line-height: 100%;
        margin-left: 141px;
    }

    nav {
        padding: 10px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }

    .links {
        width: 466px;
        height: 18px;



    }
    .sidebar{
        display: none;
    }
    .menu{
        display: none;
    }
 
    .links ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .links .button {
        padding: 5px 10px;
        border-radius: 20px;
        border: 2px solid;
    }

    .image img {
        width: 497px;
        height: 497px;
        position: absolute;
        top: 80px;
        left: 730px;
        z-index: 30;
    }

    .header_text h1 {
        width: 500px;
        height: 150px;
        font-size: 50px;
        line-height: 74.4px;
        position: absolute;
        top: -100px;

        

    }

    .begin {
        position: relative;
        top: 70px;
        left: 141px;
        width: 100%;
        height: 600px;
    }

  .header_text {
        position: absolute;
        top: 60px;
        left: 85px;
    } 
  
    .header_text p {
        width: 487px;
        height: 62px;
        font-size: 16px;
        line-height: 32px;
        color: #646464;
        line-height: 32px;
        position: absolute;
        top: 50px;
    }

    .header_text button {
        flex-grow: horizontal;
        width: 169px;
        background-color: #FC3867;
        color: var(--primary_color);
        border-radius: 87px;
        padding: 16px 32px;
        position: absolute;
        top: 120px;
        left: 141px;
        

    }

    .begin {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .information {
        width: 100%;
        height: 210px;
        position: relative;
        top: -160px;
        z-index: 55;

    }

    .information h1 {
        width: 145px;
        height: 74px;
        font-weight: 700;
        font-size: 64px;
        line-height: 100%;
        letter-spacing: -0.5px;
        margin-left: -50px;

    }

    .information h6 {
        width: 157px;
        height: 23px;
        letter-spacing: -0.5px;
        font-weight: 700;
        font: 18px;
        margin-left:-20px ;
    }

    .information p {
        width: 119px;
        font-size: 16px;
        height: 21px;
        font-weight: 700;
        letter-spacing: -0.5px;
        line-height: 100%;
        color: #C4C4C4;
        margin-left:-20px ;
    }

    .feedback_1 {
        width: 180px;
        height: 142px;
        top: 90px;
        left: 204px;
    }

    .feedback_2 {
        width: 160px;
        height: 142px;
        top: 90px;
        left: 601px;


    }

    .feedback_3 {
        width: 170px;
        height: 142px;
        position: absolute;
        top: 27px;
        left: 980px;


    }

    .more_info {
        width: 100%;
        height: 333px;
        margin-top: 50px;
        border: 1px;
        position: relative;
        
    }

    .more_info small {
        width: 123px;
        height: 18px;
        position: absolute;
        top: 10px;
        left: 121px;
    }

    .more_info .get {
        font-size: 40px;
        font-weight: 700;
        letter-spacing: -0.5px;
        font-style: bold;
        line-height: 60px;
        position: absolute;
        top: 30px;
        left: 118px;

    }

    .more_info .customize {
        width: 395px;
        height: 58px;
        font-size: 16px;
        font-style: 700;
        position: absolute;
        top: 55px;
        left: 923px;
    }

    .benefit_grid_1 {
        width: 290px;
        height: 126px;
        position: absolute;
        top: 150px;
        left: 118px;
        border-right: 1px solid var(--primary_color);
    }

    .benefit_grid_2 {
        width: 290px;
        height: 126px;
        position: absolute;
        top: 150px;
        left: 487px;
        border-right: 1px solid var(--primary_color);
    }

    .benefit_grid_3 {
        width: 290px;
        height: 126px;
        position: absolute;
        top: 150px;
        left: 923px;
        
    }

    .icon1 {
        margin-top: -25px;
    }

    .container {
        width: 100%;
        height: 1051px;
        position: relative;
    }

    .our_package h1 {
        width: 370px;
        height: 41px;
        font-size: 36px;
        font-style: bold;
        position: absolute;
        top: -20px;
        left: -50px;
    }

    .our_package p {
        width: 582px;
        height: 28px;
        font-weight: 500px;
        font: 24px;
        position: absolute;
        top: 70px;
        left: -150px;

    }

    .testimonials {
        position: relative;
    }

    .our_package {
        width: 582px;
        height: 98px;
        position: absolute;
        top: 100px;
        left: 382px;

    }

    .package_info_1 {
        width: 400px;
        height: 270px;
        border-radius: 12px;
        position: absolute;
        top: 200px;
        left: 120px;
    }

    .package_info_2 {
        width: 400px;
        height: 270px;
        border-radius: 12px;
        position: absolute;
        top: 200px;
        left: 717px;
    }

    .package_info_3 {
        width: 400px;
        height: 270px;
        border-radius: 12px;
        position: absolute;
        top: 350px;
        left: 120px;
    }

    .package_info_4 {
        width: 400px;
        height: 270px;
        border-radius: 12px;
        position: absolute;
        top: 350px;
        left: 717px;
    }

    .package_info_5 {
        width: 400px;
        height: 270px;
        border-radius: 12px;
        position: absolute;
        top: 500px;
        left: 120px;
    }

    .package_info_6 {
        width: 400px;
        height: 270px;
        border-radius: 12px;
        position: absolute;
        top: 500px;
        left: 717px;
    }

    .containers {
        position: absolute;
        width: 100%;
        height: 1000px;
        /*     background-color: red;
 */
    }

    .creative h1 {
        width: 36.25rem;
        height: 2.563rem;
        font-size: 25rem;
        color: var(--primary_color);
        font-size: 2.5rem;
        margin-bottom: 0.625rem;
    }

    .creative p {
        width: 36.375rem;
        height: 1.75rem;
        font-size: 0.875rem;
        color: #999999;
    }

    .creative {
        width: 36.375rem;
        height: 6.125rem;
        position: absolute;
        top: 0.625rem;
        left: 15.625rem;


    }

    .our_work {
        width: 100%;
        height: 53.75rem;
        border-radius: 0.75rem;
        position: relative;
        top: 50rem;
        left: 0.625rem;

    }

    .beautiful_images .palm {
        width: 25rem;
        height: 21.875rem;
        position: absolute;
        top: 9.375rem;
        left: 1.875rem;
        border-radius: 0.75rem;

    }

    .beautiful_images .flower {
        width: 25rem;
        height: 21.875rem;
        position: absolute;
        top: 9.375rem;
        left: 28.125rem;
        border-radius: 0.75rem;

    }

    .beautiful_images .leaf {
        width: 25rem;
        height: 21.875rem;
        position: absolute;
        top: 32.5rem;
        left: 1.875rem;
        border-radius: 0.75rem;

    }

    .beautiful_images .colored_leaf {
        width: 25rem;
        height: 21.875rem;
        position: absolute;
        top: 32.5rem;
        left: 28.125rem;
        border-radius: 0.75rem;

    }

    .available_offers {
        width: 61.25rem;
        height: 655px;
        position: relative;
        top: 62.5rem;
        left: 15.625rem;
    }

    .available small {
        width: 5.25rem;
        height: 1.125rem;
        font-size: 1rem;
    }

    .available h1 {
        width: 30.25rem;
        height: 6.25rem;
        font-weight: 31.25rem;
        font-size: 2.25rem;
        position: absolute;
        top: 2.25rem;
        left: 9.375rem;
    }

    .available {
        width: 30.25rem;
        height: 6.25rem;
        size: 2.5rem;
    }

    .basic {
        width: 15.625rem;
        height: 18.75rem;
        border-radius: 0.75rem;
        position: relative;
        top: 12.5rem;
        left: 0;
    }

    .premium {
        width:  15.625rem;
        height: 18.75rem;
        border-radius: 12px;
        position: relative;
        top: 12.5rem;
        left: -6.25rem;
    }

    .premium img {
        width: 0.625rem;
        height: 0.625rem;
        background-color: #646464;
    }


    .super {
        width: 12.5rem;
        height: 18.75rem;
        border-radius: 12px;
        position: relative;
        top: 12.5rem;
        left: -12.5rem;
    }

    .super img {
        /*  border-radius: 20px; */
        background-color: #646464;
        width: 0.625rem;
        height: 0.625rem;
    }

    .access {
        width: 9.938rem;
        height: 1rem;
        position: absolute;
        top: 4.375rem;
        left: 0.625rem;
    }

    .free {
        width: 9.938rem;
        height: 1rem;
        position: absolute;
        top: 6.12rem;
        left: 0.625rem;
    }

    .park {
        width:  9.938rem;
        height: 1rem;
        position: absolute;
        top: 9.375rem;
        left: 0.625rem;
    }

    .start {
        position: absolute;
        top: 14.375rem;
        left: 1.25rem;
    }

    .for_month {
        width: 9.938rem;
        height: 1rem;
        position: absolute;
        top: 12.5rem;
        left: 0.625rem;
    }

    .mark1 {
        width: 9.938rem;
        height: 1rem;
        position: absolute;
        top: 4.375rem;
        left: 1.25rem;
    }

    .mark2 {
        width: 9.938rem;
        height: 1rem;
        position: absolute;
        top: 6.25rem;
        left: 1.25rem;
    }

    .mark3 {
        width: 9.938rem;
        height: 16px;
        position: absolute;
        top: 8.75rem;
        left: 1.25rem;
    }

    .mark4 {
        width: 9.938rem;
        height: 1rem;
        position: absolute;
        top: 11.875rem;
        left: 1.25rem;
    }

    .btn_button {
        position: absolute;
        top: 13.75rem;
        left: 2.5rem;
    }


    .cheap_package h4 {
        width: 3.125rem;
        height: 1.438rem;
        position: absolute;
        top: 0.313rem;
        left: 1.25rem;
    }

    .cheap_package h1 {
        width: 9.25rem;
        height: 3.438rem;
        font-size: 3rem;
        position: absolute;
        top: 1.25rem;
        left: 1.25rem;
    }

    .super h1 {
        width: 9.25rem;
        height: 3.438rem;
        font-size: 3rem;
        position: absolute;
        top: 1.25rem;
        left: 1.25rem;
    }

    .super span {
        font-size: 1rem;
        font-weight: 31.25rem;
    }

    .first {
        width: 9.938rem;
        height: 1rem;
        position: absolute;
        top: 4.375rem;
        left: 1.25rem;
    }

    .second {
        width: 9.938rem;
        height: 1rem;
        position: absolute;
        top: 6.25rem;
        left: 1.25rem;
    }

    .third {
        width: 9.938rem;
        height: 1rem;
        position: absolute;
        top: 9.375rem;
        left: 1.25rem;
    }

    button {
        position: absolute;
        top: 12.5rem;
        left: 2.188rem;
    }

    .cheap_package span {
        font-size: 1rem;
        font-weight: 31.25rem;
    }

    .subscribe {
        width: 100%;
        height: 16.5rem;
        position: relative;
        top: 68.75rem;
    }

    .subscribe h1 {
        width: 43.5rem;
        height: 4rem;
        font-size: 2.5rem;
        position: absolute;
        top: 3.125rem;
        left: 22.938rem;
    }

    .subscribe button {
        width: 10.563rem;
        height: 3.813rem;
        border-radius: 5.438rem;
        position: absolute;
        left: 38.375rem;
        top: 6.25rem;
    }

    .footer {
        width: 100%;
        height: 21rem;
        position: relative;
        top: 50rem;
        left: 1.375rem;
        color: var(--primary_color);
        margin-left: 8.813rem;
    }

    .inside_footer {
        width: 75rem;
        height: 16.375rem;
        position: static;
    }

    .offering {
        width: 19.875rem;
        height: 10.875rem;
        position: absolute;
        top: 1.25rem;
        left: 8.875rem;        
    }
      .dot{
    width: 11rem;
    height: 2rem;
    position: absolute;
    top: 7.5rem;
    left: 0.625rem;
   /*  margin-top: 10px; */
   }

    .sub {
        width: 34.375rem;
        height: 9rem;
        position: relative;
        top: 1.875rem;
        left: 37.125rem;
    }

    .design {
        width: 7.688rem;
        height: 9rem;
        position: absolute;
        top: 0;
        left: 1.25rem;
    }

    .design_tools {
        width: 123px;
        height: 9rem;
        position: absolute;
        top: 0px;
        left: 15.625rem;
    }

    .help_center {
        width: 7.688rem;
        height: 9rem;
        position: absolute;
        top: 0px;
        left: 28.125rem;
    }

    .cartix {
        display: none;
    }
 
  /*   .curve{
        width: 200px;
    
        border: 2px solid black;
        border-radius: 100%/50%;
        border-top: curved;
        position: absolute;
        top: 70px;z-index: 100;
        left: 68.75rem;
    } */
    .vertices{
        display: contents;
        overflow: hidden;
    } 
    .vertices .vector1{
        position: absolute;
        top: -18.75rem;
        left: 37.5rem;
        z-index: 2;
    }
     .vertices .vector2{
        position: absolute;
        top: -12.75rem;
        left: 37.5rem;
        z-index: 2;
    }
        .vertices .vector3{
        position: absolute;
        top: -14.25.25rem;
        left: 37.525rem;
        z-index: 2;
    }
        .vertices .vector4{
        position: absolute;
        top: -8.25rem;
        left: 37.5rem;
        z-index: 2;
    }
    .curves{
        display: contents;
    }
    .curve1{
position: absolute;
top: -15.625rem;
left: -25rem;


}
    .curve2{
position: absolute;
top: -15.625rem;
left: -18.75rem;


}
    .curve3{
position: absolute;
top: -13.75rem;
left: -12.5rem;


}
    .curve4{
position: absolute;
top: -12.5rem;
left: -6.25rem;


}
.end{
    position: relative;
    width: 75rem;
    height: 3rem;
    top: 43.75rem;
    left:8.875rem ;
     border-top: 0.063rem solid #C4C4C480 ;
}
.end p{
    width: 1605rem;
    height: 1rem;
    position: absolute;
    top: 1.25rem;
    left:37.438rem ;
   
}

}